global
    log stdout format raw local0

defaults
    log     global
    mode    http
    timeout connect 2s
    timeout client  5s
    timeout server  5s

frontend http_front
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin
    # TODO: Configure health checks and set the GCP node as a backup server
    # Tip: Use 'check' for health monitoring and 'backup' to specify failover nodes.
    server aws lb-mock-aws:80
    server gcp lb-mock-gcp:80
